@import 'tailwindcss';

body{
    scroll-behavior: smooth;
}

@keyframes float {
    0%, 100% { transform: translateY(0px);}
    50% { transform: translateY(-15px);}
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(30px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.animate-fadeIn{
    animation: fadeIn 1s ease forwards;
}

html{
    scroll-behavior: smooth;
}

.skill{
background:white;
color:#be185d;
padding:4px 12px;
border-radius:9999px;
font-size:14px;
font-weight:500;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
transition:0.3s;
}

.skill:hover{
transform:scale(1.1);
background:#ec4899;
color:white;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animated-bg{
background: linear-gradient(-45deg,#ffe4e6,#fbcfe8,#f9a8d4,#fecdd3);
background-size:400% 400%;
animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

.navBtn{
@apply hover:text-pink-600 transition font-medium ;
}

.primaryBtn{
@apply px-6 py-3 bg-pink-500 text-white rounded-full shadow-lg hover:scale-105 transition;
}

.secondaryBtn{
@apply px-6 py-3 border border-pink-400 rounded-full hover:bg-pink-200 transition;
}

.sectionTitle{
@apply text-4xl font-bold bg-linear-to-r from-pink-600 to-rose-500 bg-clip-text text-transparent;
}

.skillCard{
@apply bg-white/50 backdrop-blur-lg p-6 rounded-2xl shadow-lg hover:-translate-y-2 transition text-left;
}

.skill{
@apply px-3 py-1 bg-pink-200 text-pink-800 rounded-full text-sm;
}

.projectCard{
@apply relative overflow-hidden rounded-3xl shadow-xl;
}

.projectOverlay{
@apply absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-100 transition flex items-end p-6 text-white font-semibold;
}

.animate-float{
animation: float 6s ease-in-out infinite;
}

@keyframes float{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-15px);}
}